.field {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5px;
  font-size: 20px;
}

.field__label {
  margin-bottom: 5px;
  text-align: start;
}

.field__input {
  border-radius: 3px;
  font-size: 18px;
}
