.field {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5px;
  font-size: 20px;
}

.field__label {
  text-align: start;
}

.field__description {
  margin-bottom: 5px;
  text-align: start;
  font-size: 12px;
}

.field__input {
  border-radius: 3px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .field {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .field {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .field {
    width: 40%;
  }
}
